/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

body {
  background-image: url('/images/background.png');
  background-attachment: fixed;
  background-size: cover;
  background-repeat: no-repeat;
	font-family: 'Roboto', sans-serif;
}

/*Page Sections*/

#pagediv {
  max-width: 800px;
  margin: auto;
  background-color: rgba( 255, 255, 255, 1 );
  border-radius: 10px;
}

#navbar {
    background-color: #272727;
    min-width: 101%;
    position: fixed;
    top: 80px;
    left: -2px;
    height: auto;
    z-index: 1000;
}

header {
    background-color: #666;
    background-color: rgba( 114, 114, 114, .9 );
    min-width: 101%;
    position: fixed;
    top: 0px;
    left: -2px;
    height: 80px;
    z-index: 1000;
}

#navleft {
    float: left;
    width: 50%;
    margin-left: 20px;
    padding-top: 5px;
    word-spacing: 20px;

}

#navright {
    float: right;
    margin-right: 80px;
    padding-top: 5px;
}    


#clearheader {
		margin-top: 200px;
}

.formdiv {
	max-width: 400px;
  margin: auto;
  text-align: center;
  /* border: solid rgb(39,39,39) 2px; */
  border-radius: 5px;
  background-color: rgb(247, 255, 212);
  padding: 5px 30px 20px 30px;
}

input[type=submit] {
	font-size: 1em;
  cursor: pointer;
  margin: 5px;
}

.form_field input {
	width: 80%;
}

#titlediv {
  background-color: #272727;
  height: auto;
  text-align: center;
  /*width: 80%;*/
  margin: 10px auto;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

#sm_titlediv {
  background-color: #272727;
  height: auto;
  text-align: center;
  /*width: 80%;*/
  margin: 10px auto;
}

#sm_titlediv h3 {
  color: white;
  padding: 3px;
}

#titlediv h1 {
  color: white;
  padding: 10px;
}

#gallerycontent {
  text-align: center;
}

#reviews {
  margin: 2px 40px 2px 40px;
  background-color: white;
  padding: 10px;
  border-radius: 5px;
}



.artpic_div {
  width: auto;
  text-align: center;
  margin: 5px auto;
  display: inline-block;
}

.profilepicture {
  margin: 0px 30px 10px 30px;
  float: left;
}

.profileinfo {
  float: left;
}

.artistwork {
  clear: both;
  text-align: center;
}

#noticediv {
  text-align: center;
  width: 50%;
  margin: 2px auto 0px auto;
  background-color: white;
  border-radius: 5px;
}

#mainartdiv {
  text-align: center;
  /*clear: both;*/
}

#mainartdiv img {
  border: 2px solid black;
}

.commentdiv {
  text-align: center;
  clear: both;
}

.commentdiv textarea {
  width: 60%;
}

#gallerycontent textarea {
  width: 60%;
}

.commentdiv input[type=submit] {
  margin-top: 0px;
}

/*Image Styles*/

#gallerycontent img {
  border: 1px solid black;
}

#header img {
    border: none;
    margin-left: 0px;   
}

/*Font Styles*/

.break {
    border-bottom: 1px solid black;
}

h2 {
  margin-bottom: 0px;
}

h3 {
  margin: 5px auto 5px auto;
}

#navbar h4 {
    
    color: #fff;
    margin: 5px 20% 5px 20%;
    font-size: 1.2em;
    
}

.commenttitle {
  margin-left: 40px;
}

#navbar a, #navbar a:visited a:active {
		text-decoration: none;
    color: #fff;
    font-size: 20px;
    margin: 5px 20px 5px 20px;
    
}

#navbar a:hover {
		color: #ff6600;
}

a, a:visited {
  color: #000;
}

a:hover {
  color: #CD2626;
  background-color: inherit;
}

